.nextButton {
    background-color: #72398c;
    color: white;
    border: none;
    padding: 12px 24px;
    margin-top: 15px;
    border-radius: 5px;
    font-size: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.nextButton:hover {
    background-color: #e68900;
}